In [128]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [129]:
import numpy as np
import pandas as pd

In [130]:
import datetime as dt

# General Overview of Datasets
## Familiarize with the data

In [131]:
measurement_df = pd.read_csv("Resources/hawaii_measurements.csv")
station_df = pd.read_csv("Resources/hawaii_stations.csv")

In [132]:
measurement_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [133]:
station_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   station    9 non-null      object
 1   name       9 non-null      object
 2   latitude   9 non-null      float64
 3   longitude  9 non-null      float64
 4   elevation  9 non-null      float64
dtypes: float64(3), object(2)
memory usage: 488.0+ bytes

# Reflect Tables into SQLAlchemy ORM

In [134]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [135]:
#Creating a database engine
#dialact object = hawaii.sqlite 
#no pool created here, but is possible
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [136]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine,reflect=True)

In [137]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [144]:
# Save references to each table
station = pd.read_sql("SELECT * FROM station", conn)
measurement = pd.read|sql("SELECT * FROM measurement", conn)

AttributeError: module 'pandas' has no attribute 'read'

In [139]:
# Create our session (link) from Python to the DB
# session = Session(engine)

# Exploratory Climate Analysis

In [143]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
#Get the last date in the dataset
last_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
last_date
#Convert object to datetime 
# last_date = pd.to_datetime(last_date)

# Calculate the date 1 year ago from the last data point in the database
# one_year = last_date - dt.timedelta(days=365)

# Perform a query to retrieve the data and precipitation scores
# query = session.query(measurement.prcp, measurement.date).filter(measurement.date > one_year)

InvalidRequestError: SQL expression, column, or mapped entity expected - got '0        2010-01-01
1        2010-01-02
2        2010-01-03
3        2010-01-04
4        2010-01-06
            ...
19545    2017-08-19
19546    2017-08-20
19547    2017-08-21
19548    2017-08-22
19549    2017-08-23
Name: date, Length: 19550, dtype: object'

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`